*.o
*.la
*.lo
*.ko
*~
.*.cmd
Makefile.in
Makefile
missing
stamp-h1
.deps
.libs
compile
configure
config.status
config.log
config.guess
config.sub
config.h.in
config.h
depcomp
aclocal.m4
autom4te.cache
ar-lib
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
install-sh
.vagrant/

# built targets
cray-xpmem.pc
module
lib/cray-xpmem.conf
test/run.sh
test/share/xpmem_master
test/share/xpmem_proc1
test/share/xpmem_proc2
kernel/xpmem
kernel/xpmem.mod.c
kernel/xpmem.mod
kernel/modules.order
kernel/Module.symvers
kernel/Kbuild
.tmp_versions
test-driver
dkms.conf
debian/changelog
xpmem-dkms.spec
xpmem-kmod.spec
xpmem.spec
